.BirdInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 1rem;

  @media (max-width: 500px) {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &__image {
    grid-column: 1 / 2;
    grid-row: 1 / 7;

    @media (max-width: 500px) {
      display: flex;
      justify-content: center;
    }
  }
  
  &__title {
    position: relative;
    width: 100%;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 1px;
      background-color: #fff;

      @media (max-width: 940px) {
        bottom: 30%;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }

    @media (max-width: 940px) {
      grid-row: 1 / 4;
    }
  }

  &__latin {
    position: relative;
    width: 100%;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 3 / 5;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 1px;
      background-color: #fff;

      @media (max-width: 940px) {
        bottom: 30%;
      }

      @media (max-width: 500px) {
        display: none;
      }
    }

    @media (max-width: 940px) {
      grid-row: 4 / 7;
    }
  }

  &__audio {
    grid-column: 2 / 3;
    grid-row: 5 / 7;

    @media (max-width: 940px) {
      grid-column: 1 / 3;
      grid-row: 7 / 9;
    }

    @media (max-width: 500px) {
      min-height: 9rem;
    }
  }

  &__description {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    text-align: justify;

    @media (max-width: 940px) {
      grid-row: 9 / 10;
    }

    @media (max-width: 820px) {
      text-align: start;
    }

    @media (max-width: 350px) {
      font-size: 1.4rem;
    }
  }
}

@import '../../../../customPlayer.scss'