.BirdInfo {
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-column-gap: 10px;

  &__image {
    grid-column: 1 / 2;
    grid-row: 1 / 7;
  }
  
  &__title {
    position: relative;
    width: 100%;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 1 / 3;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  }

  &__latin {
    position: relative;
    width: 100%;
    text-align: center;
    grid-column: 2 / 3;
    grid-row: 3 / 5;

    &::after {
      content: '';
      position: absolute;
      left: 0;
      bottom: 5px;
      width: 100%;
      height: 1px;
      background-color: #fff;
    }
  }

  &__audio {
    grid-column: 2 / 3;
    grid-row: 5 / 7;
  }

  &__description {
    grid-column: 1 / 3;
    grid-row: 7 / 8;
    text-align: justify;
  }
}

@import '../../../../customPlayer.scss'