.LevelButton {
  margin-top: 20px;
  width: 100%;
  height: 50px;
  font-size: 2rem;
  border-radius: 10px;
  color: #fff;
  background-color: grey;
  border: none;
  outline: none;
}

.enabled {
  cursor: pointer;
  background-color: #017ab3;
}