.LevelButton {
  margin-top: 2rem;
  width: 100%;
  height: 5rem;
  font-size: 2rem;
  border-radius: 1rem;
  color: #fff;
  background-color: grey;
  border: none;
  outline: none;

  @media (max-width: 500px) {
    margin-top: 1rem;
  }
}

.enabled {
  cursor: pointer;
  background-color: #017ab3;
}