.QuestionImage {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 15rem;
  height: 15rem;
  border-radius: 1.5rem;
  overflow: hidden;

  @media (max-width: 690px) {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
    justify-self: center;
  }

  @media (max-width: 400px) {
    width: 13rem;
    height: 13rem;
  }
}
