.YourAnswerBlock {
  padding: 2rem;
  border-radius: 1rem;
  width: 100%;
  height: 100%;
  background-color: #4da1c9;

  @media (max-width: 500px) {
    padding: 1rem;
  }

  @media (max-width: 400px) {
    font-size: 1.5rem;
  }
}
