.QuestionBirdName {
  grid-column: 2 / 4;
  grid-row: 1 / 2;
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: bold;

  @media (max-width: 690px) {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
  }
}