.Header {
  width: 100%;
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: 690px) {
    justify-content: space-around;
  }

  @media (max-width: 350px) {
    flex-direction: column;
  }
}
