.ModalButton {
  margin-top: 6rem;
  width: 100%;
  height: 50px;
  font-size: 2rem;
  border-radius: 1rem;
  color: #fff;
  background-color: #4da1c9;
  border: none;
  outline: none;
  cursor: pointer;

  &:hover,
  &:focus {
    opacity: 0.8;
  }

  @media (max-width: 320px) {
    margin-top: 2rem;
  }
}
