.QuestionImage {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  width: 150px;
  height: 150px;
  background-position: center center;
  background-image: url('/src/assets/img/unknown_bird.jpg');
  border-radius: 15px;
  overflow: hidden;
}