$main-color: #017ab3;
$text-color: #fff;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-size: 1.8rem;
  font-family: 'Roboto', Arial, sans-serif;
  color: black;
}

a {
  text-decoration: none;
 }

li {
  list-style: none;
}

.hidden {
  display: none;
}