.ModalBlock {
  margin-top: 1rem;
  padding: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #017ab3;

  &__Title {
    width: max-content;
    font-size: 6rem;
  }

  &__Text {
    margin-top: 1.5rem;
    width: max-content;
  }

  &__Image {
    margin-top: 2rem;
    width: 500px;
    height: 226px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    background-image: url('../../assets/img/congratulation.gif');
  }
}